*{
    font-family: "Roboto Flex", sans-serif
}


header{
    background-color: #42404B;
}
.nav-item a{
    color: #EBEBE9;
}
.perfil{
    color: ;
}

/* 
#app{
    font-family: "Quantico", sans-serif; */
